@{
    ViewData["Title"] = "Acceso Denegado";
}

<h1>Acceso Denegado</h1>
<p>No tienes permisos para acceder a esta página.</p>
<a href="@Url.Action("Login", "Acceso")" class="btn btn-primary">Volver al Login</a>